@import url('https://fonts.googleapis.com/css2?family=Kalnia:wght@100..700&display=swap');
        *{
            margin: 0;
            padding: 0;
            box-sizing: border-box;
            font-weight: bold;
            font-family: "Kalnia", serif;
        }
        body{
            background-image: linear-gradient(to top, #510074 ,#7500A8 ,#B200FF);
            height: 100dvh;
            width: 100dvw;
            display: flex;
            justify-content: center;
            align-items: center;
            color: white;
        }
        h1{
            font-size: 4rem;
        }
        div{
            background-color: #35004B;
            height: 60%;
            width: 70%;
            border-radius: 10px;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            gap: 2rem;
        }
        label{
            margin-right: 18rem;
            font-size: 1.2rem;
        }
        form{
            width: 100%;
            text-align: center;
        }
        input{
            padding: 1rem;
            border-radius: 10px;
            border: none;
        }
        input[type="number"]{
            width: 40%;
            background-color: #DF95FF;
            outline: none;
        }
        button{
            padding: 1rem;
            border-radius: 10px;
            border: none;
            margin-left: 1rem;
            margin-right: 1rem;
            margin-top: 3rem;
            width: 4rem;
            background-color: #B300FF;
            color: white;
            font-size: 1.2rem;
        }